*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/img/bluescreen.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

body h2{
    margin-top:0%;
    width: 400px;
    color: #fff;
    text-align: center;
}

form input{
    flex-direction: column;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.POST {
    color: #fff;
    font-weight: 100;
}

button {
    appearance: auto;
    font-size: 1rem;
    font-weight: 200;
    padding: 14px 70px;
    color: white;
    background-color: var(--clr-rgba);
    border: 2px solid #fff;
    border-color: var(--clr-rgba);
    border-radius: 50px;
    margin-top: 20px;
    transition: all 0.3s;
}

button:hover {
    transform: translateY(-10px);
    background-color: var(--clr-rgba);
    color: var(--clr-rgba);
}
