*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/img/bluescreen.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

body form input {
    display: grid;
    justify-content: center;
}

button {
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button :hover {
    background: transparent;
    color: #1c1b3a;
    outline: 1px solid #fff;
}